{% extends 'base.html.twig' %}

{% block title %}Slope{% endblock %}

{% block body %}
    <header>
        <div class="container">
            <nav class="navbar sticky-top">
                <div class="container-fluid">
                    <a href="#properties">Residences</a>
                    <a href="#showcase">3D Tour</a>
                    <a href="#contact">Contact</a>
                </div>
            </nav>
        </div>
    </header>
{% endblock %}
